<html>
  <head>
    <title>Hoodie Goodie</title>
  </head>
  <body>
    <h1>Hoodie Goodie</h1>
    <a href="/">Home</a> |
    <a href="/products">Offer</a> |
    <a href="/basket">Basket</a>
    <%= yield %>
  </body>
</html>
