<html>
  <head>
    <title>Hoodie Goodie</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  <body>
    <div class="transbox">
      <div class="center">
      <p>
        <h1>Hoodie Goodie</h1>
        <a class="button-nav" href="/">Home</a> |
        <a class="button-nav" href="/products">Offer</a> |
        <a class="button-nav" href="/basket">Basket</a>
        <%= yield %>
      </p>
      </div>
    </div
  </body>
</html>
